#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

div {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
input {
  height: 30px;
  width: 60%;
  text-align: left;
  vertical-align: center;
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px;
}
input::-webkit-input-placeholder {
  font-size: 18px;
}

button {
  width: 20%;
  height: 50px;
  color: lightgray;
}
